@import url(../../vars.css);

.container {
  width: 600px;
  height: 800px;
  background-color: rosybrown;
  border-radius: 4px;

  padding: 32px;
}

.frame {
  border: 2px solid var(--color-black);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
